{% extends 'base.html' %}
{% block contactactive %}active{% endblock contactactive %}

{% block css %}
<style>
    .container{
        min-height: 90vh;
    }
</style>
    
{% endblock css %}
    

{% block body %}
<div class="container my-4">
    <form action="/contact/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="form-group">
            <label for="phone">phone number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1"> How can we help you</label>
            <textarea class="form-control" id="dtext" name="dtext" rows="3"></textarea>
        </div>



        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
</div>

{% endblock body %}